body {display: flex;
    flex-direction: column;
    align-items:center;
    

}

h1{
    font-family: Impact, fantasy;
}

.add {
    color: rebeccapurple;

    background-color: lightpink;
    transition: background-color 2.5s;
    
}

button:hover {
    background: red;
}